<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>homeSmyleEnabled</key>
  <string></string>
  <key>newFinanceEnabled</key>
  <string>{   "countries": [     "DE",     "NL"   ] }</string>
  <key>newSearchMaskEnabled</key>
  <string>false</string>
  <key>leasingEnabled</key>
  <string>true</string>
  <key>afterLeadVersion</key>
  <string>v1</string>
</dict>
</plist>